@import url('base.css');

#background img{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.mainpanel{
    width: 68rem;
    height: 65.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0rem 0rem 5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.innerpanel{
    position: relative;
    width: 48rem;
    height: 55.3rem;
    margin-top: 5rem;
    margin-left: 10rem;
    
}

.part1{
    position: relative;
    width: 48rem;
    height: 6.3rem;
    margin: auto;
    align-items: center;
    border-bottom: 0.1rem solid #ccc;
}

.part1 > .header-title{
    font-weight: bold;
    margin: 0;
    padding-block: var(--spacing);
}

.part2{
    position: relative;
    width: 48rem;
    height: 45rem;
    margin-top: 4rem;
}

.infopanel{
    position: relative;
    width: 48rem;
    height: 45rem;
    
    
}

.fullnamepart{
    position: relative;
    width: 48rem;
    height: 8rem;
}

.emailpart{
    position: relative;
    width: 48rem;
    height: 8rem;
    margin-top: 2rem;
}

.studentIDpart{
    position: relative;
    width: 48rem;
    height: 8rem;
    margin-top: 2rem;
}

.dateofbirthpart{
    position: relative;
    width: 48rem;
    height: 8rem;
    margin-top: 2rem;
}

input[type = text], input[type = email], input[type = date]{
    position: relative;
    width: 100%;
    padding: 1.8rem 2rem;
    display: inline-block;
    border: 0.1rem solid #ccc;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

.buttons{
    position: static;
    width: 48rem;
    height: 5rem;
    margin-top: 4rem;
}

.cancel-btn {
    padding: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 6px;
    border: 1px solid; 
    color: var(--iu-primary-default-text);
    border-color: var(--gray-lighter);
    font-weight: bold;
    margin: 0;
    transition: background-color var(--hover-transition);
}
  
.cancel-btn:hover {
    background-color: var(--gray-lighter);
}

.cancel-btn:active{
    background-color: var(--iu-secondary-light);
    color: var(--iu-primary-dark-text);
    box-shadow: 0rem 0.5rem #666;
    transform: translateY(0.4rem);
}

.changepass-btn {
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 6px;
    background-color: var(--iu-primary-default);
    color: var(--white-default-text);
    border: 1px solid; 
    border-color: var(--gray-lighter);
    font-weight: bold;
    margin: 0;
    transition: background-color var(--hover-transition);
}
  
.changepass-btn:hover {
  color: var(--gray-lighter);
    background-color: var(--iu-primary-dark);
}

.changepass-btn:active{
    background-color: var(--iu-secondary-light);
    color: var(--iu-primary-dark-text);
    box-shadow: 0rem 0.5rem #666;
    transform: translateY(0.4rem);
}