@import url(base.css);

main {
    background-color: var(background-color);
    padding: 2rem;
    padding-inline: 6vw;
    max-width: 100vw;

}
  
  section.panel {
    position: static;
    width: 118rem;
    height: 76rem;
    background-color: var(--white-default);
    border-radius: 6px;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    margin: auto;
  }

section.panel h2 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: var(--gray-dark);
  text-align: unset;

  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--gray-light);
}

.left-col{
  position: static;
  width: 18rem;
  height: 20rem;
}

.changeimage{
  width: 18rem;
  height: 5rem;
  font-size: large;
  margin: auto;
  text-align: center;
  color: var(--iu-primary-default-text);
}

.information-list{
  position: static;
  width: 48rem;
  height: 39.7rem;
  margin: auto;
}

.button {
    margin-top: 3rem;
}

.cancel-btn {
    
    padding: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 6px;
    border: 1px solid; 
    color: var(--iu-primary-default-text);
    border-color: var(--gray-lighter);
    font-weight: bold;
    margin: 0;
    transition: background-color var(--hover-transition);
  }
  
.cancel-btn:hover {
    background-color: var(--gray-lighter);
  }

.save-btn {
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 6px;
    background-color: var(--iu-primary-default);
    color: var(--white-default-text);
    border: 1px solid; 
    border-color: var(--gray-lighter);
    font-weight: bold;
    margin: 0;
    transition: background-color var(--hover-transition);
  }
  
.save-btn:hover {
  color: var(--gray-lighter);
    background-color: var(--iu-primary-dark);
  }


.my-avatar {
    position: static;
    width: 15rem;
    height: 15rem;
    margin: auto;
    
}

/* Input */
form {
  display: block;
}

label {
  display: block;
  font-size: medium;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

input, textarea {
  width: 48rem;
  height: 5rem;
  font-size: medium;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0.8em;
  border-radius: 6px;
  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--gray-lighter);
  border-image: initial;
}

.container {
    margin-left: 14.2rem;
    margin-right: 14.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.input .container {
    display: flex;
    text-align: left;
}



.input > section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
