/* Success change pass in change pass */
.panel_change-password-success{
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
}

.panel_change-password-success h3{
    position: static;
    color: #1AC687;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: left;
    margin: 0.8rem 0 4rem;
}

.panel_change-password-success > .buttons {
    font-size: medium;
    font-weight: bold;
    color: var(--white-default-text);
    background-color: var(--iu-primary-default);
    padding: 1.4rem 2rem;
    margin: 0.8rem 0;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-top: 2rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    text-align: center;
    transition: background-color var(--hover-transition);
}

.buttons:hover{
    background-color: var(--iu-secondary-default);
}