/* success change pass in forgot pass */
@import url('base.css');

#background img{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.mainpanel{
    width: 68rem;
    height: 65.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    box-shadow: 0rem 0rem 5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.innerpanel{
    position: relative;
    width: 48rem;
    height: 55.3rem;
    margin-top: 5rem;
    margin-left: 10rem;
    
}

.part1{
    position: relative;
    width: 48rem;
    height: 6.3rem;
    margin: auto;
    align-items: center;
    border-bottom: 0.1rem solid #ccc;
}

.part1 > .header-title{
    font-weight: bold;
    margin: 0;
    padding-block: var(--spacing);
}

.part2{
    position: relative;
    width: 48rem;
    height: 45rem;
    margin-top: 4rem;
}

.successmsg{
    color: #1AC687;
    position: static;
    width: 32.8rem;
    height: 3.4rem;
}

.buttons{
    position: static;
    width: 48rem;
    height: 5rem;
    margin-top: 4rem;
}

.login-btn {
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 6px;
    background-color: var(--iu-primary-default);
    color: var(--white-default-text);
    border: 1px solid; 
    border-color: var(--gray-lighter);
    font-weight: bold;
    margin: 0;
    transition: background-color var(--hover-transition);
}
  
.login-btn:hover {
  color: var(--gray-lighter);
    background-color: var(--iu-primary-dark);
}
