{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
  <title>Change password successful</title>
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'User/change-password-success.css' %}">
{% endblock %}

{% block main-content %}
  <article class="panel_change-password-success">
    <div class="successmsg">
      <h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="#1AC687" viewBox="0 0 24 24">
              <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/>
          </svg>
          Password reset successfully
      </h3>
    </div>
      {% if user.user_type == 'Student' %}
      <a class="buttons" href="{% url 'student-about' user.student.id %}">OK</a>
      {% elif user.user_type == 'Lecturer' %}
      <a class="buttons" href="{% url 'lecturer-about' user.lecturer.id %}">OK</a>
      {% else %}
      <a class="buttons" href="#">OK</a>
      {% endif %}
  </article>
{% endblock main-content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=*[[$]]*, initial-scale=*[[$1.0$]]*">
  <title>Title</title>
</head>
<body>
<h1>Change Password Success</h1>

{% if user.user_type == 'Student' %}
<a href="{% url 'student-about' user.student.id %}">OK</a>
{% elif user.user_type == 'Lecturer' %}
<a href="{% url 'lecturer-about' user.lecturer.id %}">OK</a>
{% else %}
<a href="#">OK</a>
{% endif %}

</body>
</html> -->