{% extends 'Home/index.html' %} {% load static %} {% block title %}
<title>Change Password</title>
{% endblock title %} {% block stylesheets %}
<link rel="stylesheet" href="{% static 'User/personal-info.css' %}" />
<link rel="stylesheet" href="{% static 'User/change-password.css' %}" />
{% endblock %} {% block main-content %}
<section class="panel announcement personal-information">
  <h2>Change Password</h2>
  <section class="input">
    <div class="container">
      <div class="left-col">
        <img
          src="{% static 'icons/big-avatar-icon-svg.svg' %}"
          class="my-avatar"
          alt="My avatar"
        />
        <a href="#">
          <div class="changeimage">
            <b><u>Upload an image</u></b>
          </div>
        </a>
      </div>

      <form action class="information-list" method="POST">
        <p>{% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}</p>
        {% csrf_token %}
        <!-- <label for="current">Current Password</label>
          <input type="password" id="current" name="current">
          <label for="new">New Password</label>
          <input type="password" id="new" name="new">
          <label for="confirm">Confirm Password</label>
          <input type="password" id="confirm" name="confirm"> -->
        {{form.as_p}}
        <footer class="button">
          {% if user.is_student %}
          <a class="cancel-btn" href="{% url 'student-about' user.student.id %}"
            >Cancel</a
          >
          {% else %}
          <a
            class="cancel-btn"
            href="{% url 'lecturer-about' user.lecturer.id %}"
            >Cancel</a
          >
          {% endif %}
          <button class="save-btn">Save</button>
        </footer>
      </form>
    </div>
  </section>
</section>
{% endblock %}
