{% extends 'User/base-auth.html' %}
{% load static %}

{% block title %}
  <title>Forgot Password Success</title>
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'User/forgot-password-success.css' %}">
{% endblock stylesheets %}


{% block inner-panel-1 %}
  <div class="header-title">Forgotten Password</div>
{% endblock inner-panel-1 %}


{% block inner-panel-2 %}
  <span class="successmsg">
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="#1AC687" viewBox="0 0 24 24">
            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/>
        </svg>
        Password reset successfully
    </h3>
  </span>
  <div class="buttons">
    <a class="login-btn" href="{% url 'login' %}">Login</a>
  </div>
{% endblock inner-panel-2 %}