{% extends 'User/base-auth.html' %}
{% load static %}

{% block title %}
  <title>Forgot Password</title>
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'User/forgot-password.css' %}">
{% endblock stylesheets %}

{% block inner-panel-1 %}
  <h1 class="header-title">Forgotten Password</h1>

{% endblock inner-panel-1 %}

{% block inner-panel-2 %}
  <div class="infopanel">
    <form action="" method="post">
      {% csrf_token %}
      <div>{{ form.as_p }}</div>
      <div class="buttons">
        <a class="cancel-btn" href="{% url 'login' %}">Cancel</a>
        <input class="changepass-btn" type="submit" value="Change Password" name="Change Password">
      </div>
    </form>
  </div>
{% endblock inner-panel-2 %}

