{% extends 'Home/index.html' %}
{% load static %}

{% block title %}
  <title>Active Courses</title>
{% endblock title %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'Courses/active-student-class.css' %}">
{% endblock %}

{% block my-courses-active %}active{% endblock %}

{% block main-content %}
  <article class="panel">
    <h2>My Active Classes</h2>
    <div class="courses-grid">
      <!-- !Add inline style ordering for these cards -->
      {% for class in classes %}
        {% if class.is_displayable %}
          <a class="card" style="--order: {{ forloop.counter }}" href="{% if user.user_type == 'Student' %}{% url 'student-class-announcement-page' user.student.id class.id %}{% elif user.user_type == 'Lecturer' %}{% url 'lecturer-class-announcement-page' user.lecturer.id class.id %}#{% else %}#{% endif %}">
            <img class="cover" src="{% static 'images/class-image-png.png' %}" alt="Course Cover">
            <div class="teacher-profile">
              <img src="{% static 'icons/small-avatar-icon-svg.svg' %}" alt="My avatar">
              <p>Instructor<br>
                <b>{{ class.lecturer.user_id.full_name }}</b></p>
            </div>
            <h3 class="course-name">{{ class.course.name }} - {{ class.schedule }} - {{ class.sem_year }}</h3>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </article>
{% endblock %}
