{% extends 'Courses/base-class-course.html' %}
{% load static %}

{% block title %}
  <title>{{ lecturer_class.course.name }} - {{ lecturer_class.schedule }} Upload content</title>
{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'User/base-upload.css' %}">
  <link rel="stylesheet" href="{% static 'User/upload-announcement.css' %}">
  <script src="{% static 'User/upload-content.js' %}" defer></script>
{% endblock %}

{% block tabs_navbar %}{% endblock tabs_navbar %}

{% block panel-content %}
  <article>
    <div class="heading">
      <h3 class="title">New Content</h3>
    </div>
    <form action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="btn-container">
        <a class="btn cancel" href="{% url 'lecturer-class-content-page' lecturer.id lecturer_class.id %}">
          Cancel
        </a>
        <input class="btn post" type="Submit" value="Post"/>
      </div>
    </form>
  </article>
{% endblock %}
